<div class="topbar">
    <a class="back" id="back" href=<%= back %>>
        <img class="aesthetic-button" src="images/Back.svg" alt="Back" style="height: 25px; width: auto;"></img>
        <h4>Back</h4>
    </a>
    <a class="home" id="home" href="/">
        <img class="aesthetic-button" src="images/Home.svg" alt="Home" style="height: 20px; width: auto;"></img>
        <h4>Home</h4>
    </a>
    <h2 class="title">Zodiac Birthday Calculator</h2>
</div>